@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  /* background: radial-gradient(circle, rgba(23, 37, 84, 0) 0, #172554 100%); */
  /* background: linear-gradient(45deg, rgba(23, 37, 84, 0) 0, #0C476B 100%); */
  background: linear-gradient(45deg, rgba(17, 24, 39, .9) 10%, #0C476B 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.dark-background {
  background: #fafafa;
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}



@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* @media screen and (max-width: 976px) {
  .hero-logo {
    visibility: hidden;
  }
} */

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col h-full max-w-7xl w-auto mx-auto sm:px-16 px-6;
}

.transition-colors-underlined {
  /* Transition color over 300ms */
  transition: color 300ms;
}

.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440] mx-auto my-20;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold justify-items-start;
}

.hero__subtitle {
  @apply text-[20px] text-gray-50 font-light mt-5
}

.howitworks {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440] mx-auto my-20 bg-indigo-800;
}

.howitworks__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold text-center;
}

.w-nav {
  width: 102%;
}

.nav_link {
  @apply text-gray-200 hover:text-cyan-200 transition duration-300 ease-in-out py-1.5 px-5;
}

button-container {
  padding: 10px; /* Adjust the padding value as needed */
  margin: 0; /* Adjust the margin value as needed */
  align-items: center; /* Adjust the alignment as needed */
}

.footer-link {
  @apply text-gray-200 hover:text-cyan-200 duration-300 ease-in-out py-1.5 px-5;
}

.social-link {
  @apply text-gray-200 hover:text-cyan-900 dark:hover:text-cyan-300 transition-colors duration-300 ease-in-out;
}

.learn-more {
  @apply text-cyan-600 dark:text-cyan-500 transition-colors-underlined hover:underline hover:text-blue-900 ease-in-out font-medium text-lg inline-flex items-center;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.light_btn {
  @apply rounded-full border border-cyan-500 bg-cyan-500 py-1.5 px-5 text-white hover:bg-cyan-400 transition duration-300 ease-in-out text-center text-sm font-inter flex items-center justify-center;
}

.extra_light_btn {
  @apply rounded-full border border-gray-50 bg-gray-50 py-1.5 px-5 text-cyan-500 hover:bg-transparent hover:text-gray-50 hover:border-gray-50 transition duration-300 ease-in-out text-center text-sm font-inter flex items-center justify-center;
}

.dark_btn {
  @apply rounded-full border border-blue-950 bg-blue-950 py-1.5 px-5 text-white hover:bg-blue-800 transition duration-300 ease-in-out text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn { 
  @apply rounded-full border border-white bg-transparent py-1.5 px-5 text-white hover:bg-white hover:text-cyan-500 transition duration-300 ease-in-out text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-cyan-400 sm:text-6xl;
}

.cyan_gradient {
  @apply bg-gradient-to-r from-cyan-500 via-cyan-100 to-cyan-100 bg-clip-text text-transparent;
}

.bg-cyan-gradient {
  @apply bg-gradient-to-r from-cyan-500 via-cyan-300 to-cyan-200;
}

.partnership-gradient {
  @apply bg-gradient-to-r from-cyan-100 via-cyan-100 to-cyan-200;
}

.card {
  @apply bg-white;
}

.card-head {
  @apply text-3xl font-extrabold mb-2;
}

.card-content {
  @apply text-cyan-900 text-sm md:text-lg;
}

.card-actions {
  @apply flex flex-col items-center justify-between mt-5;
}

.card-body {
  @apply text-gray-900;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-200 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-white tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

.dropdown_link_alt {
  @apply text-sm font-inter text-cyan-500 hover:text-cyan-700 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* START: Footer styles */
.footer {
  @apply flex flex-col text-gray-100  mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}
/* END: Footer styles */

/* START: Hero font animation styles */

.section-process {
  --gradient-color-1: #ef008f;
  --gradient-color-2: #22d3ee;
  --gradient-color-3: #a5b4fc;
  --gradient-color-4: #c9c9c9;
}
.section-process
  .process-steps-container
  .process-step-container
  .process-step-title-container {
  margin-top: -16px;
  position: relative;
}
.section-process
  .process-steps-container
  .process-step-container
  .process-step-title-container
  .process-step-title,
.section-process
  .process-steps-container
  .process-step-container
  .process-step-title-container
  .process-step-title-overlay {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Inter", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  /* font-size: 156px;
  font-weight: 900; */
  margin: 0;
  line-height: 1.3em;
  letter-spacing: -2px;
}
.section-process
  .process-steps-container
  .process-step-container
  .process-step-title-container
  .process-step-title-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  padding-right: 30px;
  height: 100%;
  opacity: 0;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.section-process
  .process-steps-container
  .process-step-container.process-step-1
  .process-step-title-overlay {
  background-image: linear-gradient(
    90deg,
    var(--gradient-color-2),
    var(--gradient-color-3)
  );
  animation: animated-gradient-title-1 8s infinite;
}
.section-process
  .process-steps-container
  .process-step-container.process-step-2
  .process-step-title-overlay {
  background-image: linear-gradient(
    90deg,
    var(--gradient-color-2),
    var(--gradient-color-3)
  );
  animation: animated-gradient-title-2 8s infinite;
}
.section-process
  .process-steps-container
  .process-step-container.process-step-3
  .process-step-title-overlay {
  background-image: linear-gradient(
    90deg,
    var(--gradient-color-2),
    var(--gradient-color-3)
  );
  animation: animated-gradient-title-3 8s infinite;
}
@keyframes animated-gradient-title-1 {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }
  33.333%,
  83.333% {
    opacity: 0;
  }
}
@keyframes animated-gradient-title-2 {
  0%,
  16.667%,
  66.667%,
  100% {
    opacity: 0;
  }
  33.333%,
  50% {
    opacity: 1;
  }
}
@keyframes animated-gradient-title-3 {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  66.667%,
  83.333% {
    opacity: 1;
  }
}

/* END: Hero font animation styles */